/** Section begin **/
.begin {
  min-height: 530px;
  position: relative;
  display: flex;
  align-items: center;

  &__bg {
    background-image: url("images/bg_begin.jpg");
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $white;
    text-align: center;
    margin-bottom: 5px;

    @include robotoCondensedBold();

    @include media-breakpoint-down(xs) {
      margin-bottom: 26px;
    }

    &-top {
      font-size: 18px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 5px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-bottom {
      font-size: 48px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #f8f6f6;

      @include media-breakpoint-down(sm) {
        font-size: 32px;
      }
    }
  }

  &__desc {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: $white;
    width: 50%;

    @include roboto();

    @include media-breakpoint-down(md) {
      width: 70%;
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  &__btn {
    background-color: transparent;
    border: 2px solid $white;
    padding: 9px 23px 8px;
    font-size: 14px;

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
      box-shadow: none;
      top: 3px;
    }

    &:hover {
      background-color: $white;
      color: #000;
    }
  }
}

/** Section begin end **/

/** Section advantage **/

.advantage {
  &__container {
    padding: 44px 30px;
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      padding: 44px 15px;
    }
  }

  &__title {
    margin-bottom: 26px;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  &__col {
    display: flex;

    &-desc {
      width: 67%;
      padding-right: 3%;

      @include media-breakpoint-down(sm) {
        order: 2;
        width: 100%;
        padding-right: 0;
      }
    }

    &-form {
      width: 33%;
      min-width: 376px;
      display: flex;
      justify-content: flex-end;

      @include media-breakpoint-down(sm) {
        order: 1;
        width: 100%;
        min-width: 0;
      }

      form {
        margin-top: -120px;
      }
    }
  }

  &__row {
    display: flex;
    margin-bottom: 20px;
  }

  &__image {
    margin-right: 22px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  &__content {
    &-title {
      @include robotoCondensedBold();

      font-size: 20px;
    }

    &-text {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

/** Section advantage end **/

/** Section services **/

.services {
  background: #f8f6f6;

  &__container {
    padding: 44px 115px;
    transition: 0.5s;

    @include media-breakpoint-down(lg) {
      padding: 44px 15px;
    }
  }

  &__title {
    text-align: center;
  }

  &__table {
    margin: 29px 0 35px;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    &-header {
      background: $main-color;
      color: $white;
      font-size: 18px;
      letter-spacing: 0.05em;
      border: 1px solid $main-color;
      border-radius: 4px 4px 0 0;

      @include robotoCondensedBold();

      .services__row {
        display: flex;
        align-items: center;

        &-name {
          width: 76%;
          padding: 16px 15px 14px 33px;
          transition: 0.5s;

          @include media-breakpoint-down(sm) {
            padding: 16px 15px 14px 15px;
            width: 60%;
          }
        }

        &-price {
          width: 24%;
          min-width: 275px;
          padding: 16px 15px 14px 33px;
          transition: 0.5s;

          @include robotoCondensedBold();

          @include media-breakpoint-down(sm) {
            padding: 16px 15px 14px 15px;
            min-width: 0;
            width: 40%;
          }
        }
      }
    }

    &-body {
      .services__row {
        display: flex;
        align-items: center;

        &:nth-child(even) {
          background-color: #f8f6f6;
          border-top: 1px solid #eae7e7;
          border-bottom: 1px solid #eae7e7;
        }

        &-name {
          width: 76%;
          padding: 10px 15px 9px 33px;
          border-right: 1px solid #eae7e7;
          transition: 0.5s;

          @include media-breakpoint-down(sm) {
            padding: 10px 15px 9px 15px;
            width: 60%;
          }
        }

        &-price {
          width: 24%;
          min-width: 275px;
          padding: 10px 15px 9px 33px;
          transition: 0.5s;

          @include robotoCondensedBold();

          @include media-breakpoint-down(sm) {
            padding: 10px 15px 9px 15px;
            min-width: 0;
            width: 40%;
          }
        }
      }
    }
  }

  &__order {
    display: flex;
    justify-content: center;

    &-btn {
      background: $main-color;
      padding: 10px 83px 9px;
      border: 1px solid $main-color;
    }
  }
}

/** Section services end **/

/** Section reviews **/

.reviews {
  position: relative;
  min-height: 387px;
  color: $white;

  &__bg {
    background-image: url("images/bg_reviews.jpg");
  }

  &__container {
    padding: 45px 0 40px;
  }

  &__title {
    color: $white;
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    max-width: 970px;
    margin: 0 auto;
    position: relative;
  }

  &__dots {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__dot {
    color: $white;
    padding-right: 11px;

    &--active {
      font-size: 36px;

      @include robotoCondensedBold();
    }
  }

  &__text,
  p {
    color: $white;
    position: relative;
    padding: 15px 33px;
    text-align: justify;
    margin: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 21px;
      background-image: url("images/review.svg");
      background-size: cover;
    }

    &::before {
      left: 0;
      top: 0;
    }

    &::after {
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }
  }

  &__author {
    padding-right: 33px;
    text-align: right;
    color: $white;
  }
}

/** Section reviews end **/
