$Roboto: "Roboto";
$Roboto-Black: "Roboto-Black";
$RobotoCondensed: "RobotoCondensed";
$RobotoCondensed-Bold: "RobotoCondensed-Bold";

@mixin fontface($fontName, $urlName: $fontName, $weight: normal, $style: normal) {
  @font-face {
    font-family: "#{$fontName}";
    src: url("../fonts/#{$urlName}/#{$urlName}.eot");
    src:
      url("../fonts/#{$urlName}/#{$urlName}.eot#iefix") format("embedded-opentype"),
      url("../fonts/#{$urlName}/#{$urlName}.woff") format("woff"),
      url("../fonts/#{$urlName}/#{$urlName}.ttf") format("truetype"),
      url("../fonts/#{$urlName}/#{$urlName}.svg") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

@include fontface($RobotoCondensed, $RobotoCondensed, normal, normal);
@include fontface($RobotoCondensed-Bold, $RobotoCondensed-Bold, bold, normal);
@include fontface($Roboto, $Roboto, normal, normal);
@include fontface($Roboto-Black, $Roboto-Black, bold, normal);

@mixin robotoCondensed() {
  font-family: $RobotoCondensed, Helvetica, sans-serif;
}

@mixin robotoCondensedBold() {
  font-family: $RobotoCondensed-Bold, Helvetica, sans-serif;
}

@mixin roboto() {
  font-family: $Roboto, Helvetica, sans-serif;
}

@mixin robotoBlack {
  font-family: $Roboto-Black, Helvetica, sans-serif;
}
