img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

body {
  @include robotoCondensed();

  position: relative;
  min-width: 320px;
}

.offscroll {
  overflow-y: hidden;
}

.container {
  max-width: 1200px;
}

.bg {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.45);
  }
}

.parallax {
  background-attachment: fixed;
}

.title {
  font-size: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;

  @include robotoCondensedBold();
}

.subtitle {
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #000;

  @include robotoCondensedBold();
}

.text {
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #000;

  @include robotoCondensed();
}
