/** Section faq **/

.faq {
  background: #f8f6f6;

  &__container {
    padding: 46px 115px 50px;
    transition: 0.5s;

    @include media-breakpoint-down(lg) {
      padding: 44px 15px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 29px;
  }

  &__list {
    padding: 0;
    list-style: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: $white;
    margin-bottom: 35px;
  }

  &__item {
    padding: 0;
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
      border: none;
    }

    &-title {
      margin: 0;
      position: relative;
      padding-right: 15px;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }

    &-text,
    p {
      margin-left: 110px;
      height: 0;
      opacity: 0;
      transition: all 0.5s;
      margin-bottom: 0;
      overflow: hidden;
      padding-right: 15px;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
        margin-left: 46px;
      }
    }

    &--active {
      .faq__item-title {
        color: $main-color;
      }

      .faq__item-text,
      p {
        height: 100%;
        opacity: 1;
        margin-bottom: 33px;
        overflow: visible;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      padding: 8px 0;
      cursor: pointer;
      position: relative;
      z-index: 10;
    }

    &-number {
      @include robotoBlack();

      font-weight: 900;
      font-size: 42px;
      text-transform: uppercase;
      color: #dedddd;
      flex: 0 0 110px;
      padding: 0 30px 0 31px;
      transition: 0.5s;

      @include media-breakpoint-down(sm) {
        font-size: 22px;
        padding: 0 10px;
        flex: 0 0 46px;
      }
    }
  }
}

/** Section faq end **/
