/** Section feedback **/

.feedback {
  &__container {
    padding: 37px 45px 45px;
    transition: 0.5s;

    @include media-breakpoint-down(lg) {
      padding: 37px 15px 45px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 29px;
  }
}

/** Section feedback and **/
