/** Section reviews **/

.reviews {
  position: relative;
  min-height: 387px;
  color: $white;

  &__bg {
    background-image: url("images/bg_reviews.jpg");
  }

  &__container {
    padding: 45px 15px 40px;
  }

  &__title {
    color: $white;
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    max-width: 970px;
    margin: 0 auto;
    position: relative;
  }

  &__dots {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__dot {
    color: $white;
    margin-right: 11px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;

    &:focus,
    &:active {
      outline: none;
      border: none;
    }

    &--active {
      font-size: 36px;

      @include robotoCondensedBold();
    }
  }

  &__text,
  p {
    color: $white;
    position: relative;
    padding: 15px 33px;
    text-align: justify;
    margin: 0;

    @include media-breakpoint-down(xs) {
      margin-bottom: 15px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 23px;
      height: 21px;
      background-image: url("images/review.svg");
      background-size: cover;
    }

    &::before {
      left: 0;
      top: 0;
    }

    &::after {
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }
  }

  &__author {
    padding-right: 33px;
    text-align: right;
    color: $white;

    @include media-breakpoint-down(xs) {
      text-align: center;
      padding: 0;
    }
  }
}

/** Section reviews end **/
